#flats {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.flat {
  flex: 1;
  min-width: 200px;
  padding: 10px;
  margin: 10px;
  border: solid grey 1px;
  border-radius: 3px;
  box-shadow: 5px 3px grey;
}

#guest-cost {
  display: flex;
}

.fa-dollar-sign {
  margin-left: 20px;
}
